.{
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100%;
    font-family: sans-serif;
}

.todo{
    width: 459px;
    height: 498px;
    margin-left: 450px;
    margin-top: 80px;
    background-color: #ffffff;
    border: 3px solid #000000;
}

.header{
    height: 50px;
    font-size: 3rem;
    border-color: red;
    background-color:coral;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    border-bottom: 3px solid #000000;
}

span{
    margin-right: 20px;
    color: #ffffff;
}

.desc{
    margin-top: -29.56px;
    height: 87%;
    margin-left: -40px;
}

input[type = ":checkbox"] {
    position: relative;
    top: 14px;
    right: 20px;
    float: right;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #000000;
}

.list {
    font-size: 29px;
    list-style-type: none ;
}

.list li{
    float: left;
    width: 100%;
}

label {
    padding: 10px;
    float: left;
    width:  90%;
}

.dark-green {
    background-color: #107476;
    color: #ffffff;

}

.green {
    background-color: cornsilk ;
}